/* mdg basic css*/
div.mdg {
	position:relative ;
	box-sizing:border-box;
}
div.mdg svg {
	position:absolute ;
	width:100% ;
	height:100% ;
	z-index:2 ;
	pointer-events: none;
}
div.mdg .box {
	position:absolute ;
	border:2px solid black ;
	background-color:white;
	line-height:1.5em ;
	padding:0.25em;
	box-sizing:border-box;
	cursor:move;
}
div.mdg div.box {
	text-align:center ;
}
div.mdg table.box {
	border-collapse: collapse ;
	margin:0 ;
}
div.mdg table td {
	padding:0.25em;
	border:1px solid black ;
}
div.mdg table th {
	background-color:#eee ;
	text-align: center ;
}
div.mdg svg line {
	stroke:#000 ;
	stroke-width:2px ;
}
div.mdg svg path {
	stroke:#000 ;
	stroke-width:2px ;
	fill:none ;
}
figure {
	margin:0 ;
}

/* preset class */
div.mdg div.trans {
	background:none ;
	border:none ;
}
div.mdg div.image {
	background:none ;
	border:none ;
	padding:0 ;
	line-height:100% ;	
}
div.mdg div.image img {
	max-width:100px ;	
}

/* text/stroke color */
div.mdg .red {
	color:red ;
	stroke:#f00 ;
}
div.mdg .blue {
	color:blue ;
	stroke:#00f ;
}
div.mdg .green {
	color:blue ;
	stroke:#0f0 ;
}
div.mdg .white {
	color:white ;
	stroke:#fff ;
}
div.mdg .gray {
	color:blue ;
	stroke:#888 ;
}
/* border color */
div.mdg .bd_red {
	border-color:red ;
}
div.mdg .bd_blue {
	border-color:blue ;
}
div.mdg .bd_green {
	border-color:green ;
}
/* bg color */
div.mdg .bg_red {
	background-color:#fee ;
}
div.mdg .bg_blue {
	background-color:#eef ;
}
div.mdg .bg_green {
	background-color:#efe ;
}
div.mdg .bg_g25 {
	background-color:#444 ;
}
div.mdg .bg_g50 {
	background-color:#888 ;
}
div.mdg .bg_g75 {
	background-color:#ccc ;
}
div.mdg .bg_black {
	background-color:#000 ;
}
/* line style */
div.mdg .l_w2 {
	stroke-width:2px ;
}
div.mdg .l_w3 {
	stroke-width:3px ;
}
div.mdg .l_w4 {
	stroke-width:4px ;
}
div.mdg .l_w5 {
	stroke-width:5px ;
}
div.mdg .l_d10 {
	stroke-dasharray:10px ;
}
/* border radius */
div.mdg .bd_r6 {
	border-radius:6px ;
}
div.mdg .bd_r10 {
	border-radius:10px ;
}
div.mdg .bd_r20 {
	border-radius:20px ;
}
div.mdg .circle4 {
	width:4em;
	height:4em ;
	text-align:center ;
	padding-top:1em ;
	border-radius:2em ;
}
/* alignment */
div.mdg div.TC,table.TC {
	text-align:center ;
}
div.mdg div.TR,table.TR {
	text-align:right ;
}
div.mdg div.TL,table.TL {
	text-align:left ;
}
/* font-style */
div.mdg .bold {
	font-weight:bold ;
}
div.mdg .FB {
	font-weight:bold ;
}
div.mdg .FI {
	font-style: italic ;
}
div.mdg .FM {
	font-family:monospace;
}
/*　font-size */
div.mdg .F05 {
	font-size:0.5rem ;
}
div.mdg .F08 {
	font-size:0.8rem ;
}
div.mdg .F15 {
	font-size:1.5rem ;
}
div.mdg .F20 {
	font-size:2.0rem ;
}
/* paddng */
div.mdg .P05 {
	padding:0.5rem ;
}
div.mdg .P10 {
	padding:1rem ;
}
div.mdg .P15 {
	padding:1.5rem ;
}
div.mdg .P20 {
	padding:2rem ;
}
/* box sizes */
div.mdg .W05 {
	width:5rem ;
}
div.mdg .W10 {
	width:10rem ;
}
div.mdg .W15 {
	width:15rem ;
}
div.mdg .W20 {
	width:20rem ;
}
div.mdg .H2 {
	height:2rem ;
}
div.mdg .H3 {
	height:3rem ;
}
div.mdg .H4 {
	height:4rem ;
}